@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background: rgba(35,47,68,255);
    font-family: 'Oswald';
}
h1, span, p {
    font-family: 'Oswald',;
    background: rgba(16,18,4,255);
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    border-color: rgba(16,18,4,255);
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    color: rgba(147,159,172,255);
  }
  
  a {
    color: rgba(147,159,172,255);
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-size: 1.2em;
  }
  
  a:hover {
    color: rgba(147,159,172,255);
  }
  
  li {
    list-style: none;
  }
  
  li a {
    color: aliceblue;
  }
  
  input[type=text] {
    padding: .3em;
  }
  
  input[type=submit] {
    padding: .3em;
    color: aliceblue;
    background: rgba(16,18,4,255);
    font-size: 1em;
    border-radius: 10%;
  }
  form {
    color: aliceblue;
    
  }
.p2 {
    margin-top: -20px;
}
.welcome {
    font-size: 1.2em;
    color: aliceblue;
    margin-bottom: 15px;
    margin-top: -20px;
}
.show {
    margin-bottom: -1px;
}
.count {
    margin-left: 15px;
}
.count:hover{
    color: aliceblue;
}
.delete{
    margin-top: 10px;
}
input[type=submit]:hover {
    background: red;
}
.homes{
    padding-top: 10px;
}
.log {
    margin-top: 150px;
    text-align: center;
}
.train{
    padding-left: 700px;
}
.navv {
    margin-left: -40px;
}
.product {
    margin-left: 75px;
}